.btn-design a {
  color: ghostwhite;
  text-decoration: none;
}
.btn-fb-design {
  background-color: #3B5998;
}

/* User Profile page */

/* body{
  background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 62%, rgba(227,227,227,1) 100%);
} */
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

/* User Profile page */

/* Post details page */
.post-head-section {
  clear: both;
  margin-bottom: 1em;
  border-bottom: 1px solid #E4E6E8;
}

.post-header {
  color: #242729;
  font-size: 2.07692308rem;
  font-weight: normal;
  line-height: 1.37;
  margin-bottom: .5em;
  text-decoration: none;
  cursor: pointer;
}

.post-text {
  margin-bottom: 5px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3;
}

.post-tag {
  font-size: 12px;
  color: #39739d;
  background-color: #E1ECF4;
  border-color: #E1ECF4;
  position: relative;
  display: inline-block;
  padding: .4em .4em;
  margin: 2px 2px 2px 0;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.post-menu>a {
  padding: 0 3px 2px;
  color: #848D95;
  text-decoration: none;
  cursor: pointer;
}

.post-menu>a:hover {
    color: #07C;
}

.user-info {
  border-radius: 3px;
  background-color: #E1ECF4;
  padding: 5px 6px 7px 7px;
  width: 200px;
  color: #6A737C;
}

.user-action-time {
  margin-top: 1px;
  margin-bottom: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.user-picture {
  box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
  border-collapse: separate;
  float: left;
  border-radius: 1px;
}

.user-details {
  margin-left: 8px;
  width: calc(100% - 40px);
  float: left;
}

.post {
  border-bottom: 1px solid #E4E6E8;
  margin-bottom: 20px;
}

.comment-text {
  position: relative;
  display: block;
  padding: .25rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.3;
  border-bottom: 1px solid #E4E6E8;
  border-top: 1px solid #E4E6E8;
}

.post-comment-box {}

.post-id {
  background: rgba(255, 150, 0, 0.35);
  color: rgb(7, 5, 5);
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px rgba(255, 150, 0, 0.5);
  border-radius: 0 0.675em 0.675em 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 0;
  left: -5%;
  top: -0.65em;
  height: 1.35em;
  width: 1.35em;
}

.answer-subheader {
  clear: both;
  margin-bottom: 10px;
  height: 34px;
  border-bottom: 1px solid #E4E6E8;
  font-size: 22px;
}

.your-answer-subheader {
  clear: both;
  margin-bottom: 10px;
  height: 40px;
  font-size: 22px;
}

#answer-box {
  margin-bottom: 15px;
}
/* Post details page */
